.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    font-size: 1.5em;
    line-height: 10vh;
    text-align: center;
    display: flex;
    list-style: none;
    height: 10vh;
    width: 30vw;
    justify-content: space-around;
}
.logo{
    height: 10vh;
    width: 7vw;
    overflow: hidden;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: rgb(88, 109, 88);
    border: 1px solid rgb(155, 202, 141);
    height: 4vh;
    width: 6vw;
    border-radius: 2vh;
    cursor: pointer;
    transition: 0.5s;
}
.navbar button:hover{
    background-color: rgb(155, 202, 141);
}
.active{
    border-bottom: 2px solid rgb(155, 202, 141);
}
.navbar-menu li{
    cursor: pointer;
}
.search-icon{
    position: relative;
}
.dot{
    position: absolute;
    height: 1vh;
    width: 1vh;
    background-color:rgb(155, 202, 141) ;
    border-radius: .5vh;
    top:-8px;
    left: 3vh;
    bottom:-8px;
}